@import url("https://fonts.google.com/specimen/Lato?query=lato");
@import url("https://fonts.google.com/specimen/Raleway?query=raleway");

body {
  padding: 0;
  margin: 0;
}

body .btn-bg {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing {
}

.btn-pg.Pokemon .btn-group .ball button {
  border: 5px solid #50514f;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
}

.btn-pg.Pokemon .btn-group .ball button:hover {
  border-color: #ffd740;
}

button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
