.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background: rgb(245, 245, 245);
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.outerCard {
  flex-grow: 0;
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 8px;
}
