.container {
  display: flex;
  flex-direction: "row";
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url("../../images/background.gif");
}

.button {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background-color: #ffeb66;
  border-radius: 6px;
  border: 1px solid #ffeb66;
  cursor: pointer;
  overflow: visible;
  color: #333333;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 35px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.button:hover {
  background-color: #ffab23;
}
.button:active {
  top: 1px;
}

.outerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon {
  display: flex;
  width: 45%;
  margin-top: -22%;
  padding-bottom: 3vh;
}

@media (max-width: 720px) {
  .pokemon {
    display: flex;
    width: 90%;
  }
  .button {
    font-size: 20px;
    padding: 15px;
    width: 40vw;
  }
}
