.create {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.home {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.searchbar {
  display: flex;
}

.innerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  flex-wrap: wrap;
}

.outerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 400px) {
  img {
    display: none;
  }
  .innerNav {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding: 5vw;
  }
}
